<div class="form-group">
  <% if object.errors.any? %>
    <div class="col-md-6 col-md-offset-2">
      <div class="alert alert-danger">
        <h3> <%= pluralize(object.errors.count, 'errors') %> prohibited this form from being saved:</h3>
          <ul>
            <% object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>
</div>
<br>
