<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
  </div>
</nav>

<div class="container">

<div class="jumbotron">
  <h1>gCamp</h1><br>
  <h2>Your life, organized.</h2>
</div>


<div class="row">
  <div class="col-md-4">
    <p class="lead">
    <%=image_tag("tablet_work.jpg", class: "img-responsive")%>
    </p>
  </div>

  <div class="col-md-4">
    <p class="lead">
    <%=image_tag("scattered_papers.jpg", class: "img-responsive")%>
    </p>
  </div>

  <div class="col-md-4">
    <p class="lead">
    <%=image_tag("working_at_desk.jpg", class: "img-responsive")%>
    </p>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        Grouped by projects and lists. Just the way you like'em.
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Permissions</h3>
      </div>
      <div class="panel-body">
        Fine-grained permissions
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <li>Comments on tasks and documents</li>
        <li>Get email notifications</li>
      </div>
    </div>
  </div>

</div>
